@font-face {
  font-family: 'Rubiko';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Rubik-Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Rubiko';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Rubik-BoldItalic.woff2') format('woff2');
  font-style: italic;
}

* {
  font-family: 'Rubiko', var(--default-font) !important;
}
